In [21]:
import numpy as np
#  아모레 시가 ,고가
x1_datasets = np.array([range(100),range(301,401)]).transpose()
x1_datasets.shape # (100,2)

(100, 2)

In [22]:
# 삼성전자의 시가, 고가 ,종가
x2_datasets = np.array([range(101,201),range(411,511),range(150,250)]).T

x2_datasets.shape # (100,2)

(100, 3)

In [23]:
# 삼성전자의 하루 뒤 종가
y = np.array(range(2001,2101))
y.shape

(100,)